@layer tokens {
    :where(:root, :host) {
  --cp-easings-default: cubic-bezier(0.4, 0, 0.2, 1);
  --cp-easings-linear: linear;
  --cp-easings-in: cubic-bezier(0.4, 0, 1, 1);
  --cp-easings-out: cubic-bezier(0, 0, 0.2, 1);
  --cp-easings-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --cp-durations-fastest: 50ms;
  --cp-durations-faster: 100ms;
  --cp-durations-fast: 150ms;
  --cp-durations-normal: 200ms;
  --cp-durations-slow: 300ms;
  --cp-durations-slower: 400ms;
  --cp-durations-slowest: 500ms;
  --cp-radii-xs: 0.125rem;
  --cp-radii-sm: 0.25rem;
  --cp-radii-md: 0.375rem;
  --cp-radii-lg: 0.5rem;
  --cp-radii-xl: 0.75rem;
  --cp-radii-2xl: 1rem;
  --cp-radii-3xl: 1.5rem;
  --cp-radii-full: 9999px;
  --cp-font-weights-thin: 100;
  --cp-font-weights-extralight: 200;
  --cp-font-weights-light: 300;
  --cp-font-weights-normal: 400;
  --cp-font-weights-medium: 500;
  --cp-font-weights-semibold: 600;
  --cp-font-weights-bold: 700;
  --cp-font-weights-extrabold: 800;
  --cp-font-weights-black: 900;
  --cp-line-heights-none: 1;
  --cp-line-heights-tight: 1.25;
  --cp-line-heights-snug: 1.375;
  --cp-line-heights-normal: 1.5;
  --cp-line-heights-relaxed: 1.625;
  --cp-line-heights-loose: 2;
  --cp-fonts-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --cp-fonts-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --cp-fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --cp-letter-spacings-tighter: -0.05em;
  --cp-letter-spacings-tight: -0.025em;
  --cp-letter-spacings-normal: 0em;
  --cp-letter-spacings-wide: 0.025em;
  --cp-letter-spacings-wider: 0.05em;
  --cp-letter-spacings-widest: 0.1em;
  --cp-font-sizes-2xs: 0.5rem;
  --cp-font-sizes-xs: 0.75rem;
  --cp-font-sizes-sm: 0.875rem;
  --cp-font-sizes-md: 1rem;
  --cp-font-sizes-lg: 1.125rem;
  --cp-font-sizes-xl: 1.25rem;
  --cp-font-sizes-2xl: 1.5rem;
  --cp-font-sizes-3xl: 1.875rem;
  --cp-font-sizes-4xl: 2.25rem;
  --cp-font-sizes-5xl: 3rem;
  --cp-font-sizes-6xl: 3.75rem;
  --cp-font-sizes-7xl: 4.5rem;
  --cp-font-sizes-8xl: 6rem;
  --cp-font-sizes-9xl: 8rem;
  --cp-shadows-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --cp-shadows-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --cp-shadows-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --cp-shadows-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --cp-shadows-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --cp-shadows-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --cp-shadows-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --cp-blurs-sm: 4px;
  --cp-blurs-base: 8px;
  --cp-blurs-md: 12px;
  --cp-blurs-lg: 16px;
  --cp-blurs-xl: 24px;
  --cp-blurs-2xl: 40px;
  --cp-blurs-3xl: 64px;
  --cp-spacing-0: 0rem;
  --cp-spacing-1: 0.25rem;
  --cp-spacing-2: 0.5rem;
  --cp-spacing-3: 0.75rem;
  --cp-spacing-4: 1rem;
  --cp-spacing-5: 1.25rem;
  --cp-spacing-6: 1.5rem;
  --cp-spacing-7: 1.75rem;
  --cp-spacing-8: 2rem;
  --cp-spacing-9: 2.25rem;
  --cp-spacing-10: 2.5rem;
  --cp-spacing-11: 2.75rem;
  --cp-spacing-12: 3rem;
  --cp-spacing-14: 3.5rem;
  --cp-spacing-16: 4rem;
  --cp-spacing-20: 5rem;
  --cp-spacing-24: 6rem;
  --cp-spacing-28: 7rem;
  --cp-spacing-32: 8rem;
  --cp-spacing-36: 9rem;
  --cp-spacing-40: 10rem;
  --cp-spacing-44: 11rem;
  --cp-spacing-48: 12rem;
  --cp-spacing-52: 13rem;
  --cp-spacing-56: 14rem;
  --cp-spacing-60: 15rem;
  --cp-spacing-64: 16rem;
  --cp-spacing-72: 18rem;
  --cp-spacing-80: 20rem;
  --cp-spacing-96: 24rem;
  --cp-spacing-0\.5: 0.125rem;
  --cp-spacing-1\.5: 0.375rem;
  --cp-spacing-2\.5: 0.625rem;
  --cp-spacing-3\.5: 0.875rem;
  --cp-sizes-0: 0rem;
  --cp-sizes-1: 0.25rem;
  --cp-sizes-2: 0.5rem;
  --cp-sizes-3: 0.75rem;
  --cp-sizes-4: 1rem;
  --cp-sizes-5: 1.25rem;
  --cp-sizes-6: 1.5rem;
  --cp-sizes-7: 1.75rem;
  --cp-sizes-8: 2rem;
  --cp-sizes-9: 2.25rem;
  --cp-sizes-10: 2.5rem;
  --cp-sizes-11: 2.75rem;
  --cp-sizes-12: 3rem;
  --cp-sizes-14: 3.5rem;
  --cp-sizes-16: 4rem;
  --cp-sizes-20: 5rem;
  --cp-sizes-24: 6rem;
  --cp-sizes-28: 7rem;
  --cp-sizes-32: 8rem;
  --cp-sizes-36: 9rem;
  --cp-sizes-40: 10rem;
  --cp-sizes-44: 11rem;
  --cp-sizes-48: 12rem;
  --cp-sizes-52: 13rem;
  --cp-sizes-56: 14rem;
  --cp-sizes-60: 15rem;
  --cp-sizes-64: 16rem;
  --cp-sizes-72: 18rem;
  --cp-sizes-80: 20rem;
  --cp-sizes-96: 24rem;
  --cp-sizes-0\.5: 0.125rem;
  --cp-sizes-1\.5: 0.375rem;
  --cp-sizes-2\.5: 0.625rem;
  --cp-sizes-3\.5: 0.875rem;
  --cp-sizes-xs: 20rem;
  --cp-sizes-sm: 24rem;
  --cp-sizes-md: 28rem;
  --cp-sizes-lg: 32rem;
  --cp-sizes-xl: 36rem;
  --cp-sizes-2xl: 42rem;
  --cp-sizes-3xl: 48rem;
  --cp-sizes-4xl: 56rem;
  --cp-sizes-5xl: 64rem;
  --cp-sizes-6xl: 72rem;
  --cp-sizes-7xl: 80rem;
  --cp-sizes-8xl: 90rem;
  --cp-sizes-prose: 65ch;
  --cp-sizes-full: 100%;
  --cp-sizes-min: min-content;
  --cp-sizes-max: max-content;
  --cp-sizes-fit: fit-content;
  --cp-sizes-breakpoint-sm: 640px;
  --cp-sizes-breakpoint-md: 768px;
  --cp-sizes-breakpoint-lg: 1024px;
  --cp-sizes-breakpoint-xl: 1280px;
  --cp-sizes-breakpoint-2xl: 1536px;
  --cp-animations-spin: spin 1s linear infinite;
  --cp-animations-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --cp-animations-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --cp-animations-bounce: bounce 1s infinite;
  --cp-colors-current: currentColor;
  --cp-colors-black: #000;
  --cp-colors-white: #fff;
  --cp-colors-transparent: rgb(0 0 0 / 0);
  --cp-colors-rose-50: #fff1f2;
  --cp-colors-rose-100: #ffe4e6;
  --cp-colors-rose-200: #fecdd3;
  --cp-colors-rose-300: #fda4af;
  --cp-colors-rose-400: #fb7185;
  --cp-colors-rose-500: #f43f5e;
  --cp-colors-rose-600: #e11d48;
  --cp-colors-rose-700: #be123c;
  --cp-colors-rose-800: #9f1239;
  --cp-colors-rose-900: #881337;
  --cp-colors-rose-950: #4c0519;
  --cp-colors-pink-50: #fdf2f8;
  --cp-colors-pink-100: #fce7f3;
  --cp-colors-pink-200: #fbcfe8;
  --cp-colors-pink-300: #f9a8d4;
  --cp-colors-pink-400: #f472b6;
  --cp-colors-pink-500: #ec4899;
  --cp-colors-pink-600: #db2777;
  --cp-colors-pink-700: #be185d;
  --cp-colors-pink-800: #9d174d;
  --cp-colors-pink-900: #831843;
  --cp-colors-pink-950: #500724;
  --cp-colors-fuchsia-50: #fdf4ff;
  --cp-colors-fuchsia-100: #fae8ff;
  --cp-colors-fuchsia-200: #f5d0fe;
  --cp-colors-fuchsia-300: #f0abfc;
  --cp-colors-fuchsia-400: #e879f9;
  --cp-colors-fuchsia-500: #d946ef;
  --cp-colors-fuchsia-600: #c026d3;
  --cp-colors-fuchsia-700: #a21caf;
  --cp-colors-fuchsia-800: #86198f;
  --cp-colors-fuchsia-900: #701a75;
  --cp-colors-fuchsia-950: #4a044e;
  --cp-colors-purple-50: #faf5ff;
  --cp-colors-purple-100: #f3e8ff;
  --cp-colors-purple-200: #e9d5ff;
  --cp-colors-purple-300: #d8b4fe;
  --cp-colors-purple-400: #c084fc;
  --cp-colors-purple-500: #a855f7;
  --cp-colors-purple-600: #9333ea;
  --cp-colors-purple-700: #7e22ce;
  --cp-colors-purple-800: #6b21a8;
  --cp-colors-purple-900: #581c87;
  --cp-colors-purple-950: #3b0764;
  --cp-colors-violet-50: #f5f3ff;
  --cp-colors-violet-100: #ede9fe;
  --cp-colors-violet-200: #ddd6fe;
  --cp-colors-violet-300: #c4b5fd;
  --cp-colors-violet-400: #a78bfa;
  --cp-colors-violet-500: #8b5cf6;
  --cp-colors-violet-600: #7c3aed;
  --cp-colors-violet-700: #6d28d9;
  --cp-colors-violet-800: #5b21b6;
  --cp-colors-violet-900: #4c1d95;
  --cp-colors-violet-950: #2e1065;
  --cp-colors-indigo-50: #eef2ff;
  --cp-colors-indigo-100: #e0e7ff;
  --cp-colors-indigo-200: #c7d2fe;
  --cp-colors-indigo-300: #a5b4fc;
  --cp-colors-indigo-400: #818cf8;
  --cp-colors-indigo-500: #6366f1;
  --cp-colors-indigo-600: #4f46e5;
  --cp-colors-indigo-700: #4338ca;
  --cp-colors-indigo-800: #3730a3;
  --cp-colors-indigo-900: #312e81;
  --cp-colors-indigo-950: #1e1b4b;
  --cp-colors-blue-50: #eff6ff;
  --cp-colors-blue-100: #dbeafe;
  --cp-colors-blue-200: #bfdbfe;
  --cp-colors-blue-300: #93c5fd;
  --cp-colors-blue-400: #60a5fa;
  --cp-colors-blue-500: #3b82f6;
  --cp-colors-blue-600: #2563eb;
  --cp-colors-blue-700: #1d4ed8;
  --cp-colors-blue-800: #1e40af;
  --cp-colors-blue-900: #1e3a8a;
  --cp-colors-blue-950: #172554;
  --cp-colors-sky-50: #f0f9ff;
  --cp-colors-sky-100: #e0f2fe;
  --cp-colors-sky-200: #bae6fd;
  --cp-colors-sky-300: #7dd3fc;
  --cp-colors-sky-400: #38bdf8;
  --cp-colors-sky-500: #0ea5e9;
  --cp-colors-sky-600: #0284c7;
  --cp-colors-sky-700: #0369a1;
  --cp-colors-sky-800: #075985;
  --cp-colors-sky-900: #0c4a6e;
  --cp-colors-sky-950: #082f49;
  --cp-colors-cyan-50: #ecfeff;
  --cp-colors-cyan-100: #cffafe;
  --cp-colors-cyan-200: #a5f3fc;
  --cp-colors-cyan-300: #67e8f9;
  --cp-colors-cyan-400: #22d3ee;
  --cp-colors-cyan-500: #06b6d4;
  --cp-colors-cyan-600: #0891b2;
  --cp-colors-cyan-700: #0e7490;
  --cp-colors-cyan-800: #155e75;
  --cp-colors-cyan-900: #164e63;
  --cp-colors-cyan-950: #083344;
  --cp-colors-teal-50: #f0fdfa;
  --cp-colors-teal-100: #ccfbf1;
  --cp-colors-teal-200: #99f6e4;
  --cp-colors-teal-300: #5eead4;
  --cp-colors-teal-400: #2dd4bf;
  --cp-colors-teal-500: #14b8a6;
  --cp-colors-teal-600: #0d9488;
  --cp-colors-teal-700: #0f766e;
  --cp-colors-teal-800: #115e59;
  --cp-colors-teal-900: #134e4a;
  --cp-colors-teal-950: #042f2e;
  --cp-colors-emerald-50: #ecfdf5;
  --cp-colors-emerald-100: #d1fae5;
  --cp-colors-emerald-200: #a7f3d0;
  --cp-colors-emerald-300: #6ee7b7;
  --cp-colors-emerald-400: #34d399;
  --cp-colors-emerald-500: #10b981;
  --cp-colors-emerald-600: #059669;
  --cp-colors-emerald-700: #047857;
  --cp-colors-emerald-800: #065f46;
  --cp-colors-emerald-900: #064e3b;
  --cp-colors-emerald-950: #022c22;
  --cp-colors-green-50: #f0fdf4;
  --cp-colors-green-100: #dcfce7;
  --cp-colors-green-200: #bbf7d0;
  --cp-colors-green-300: #86efac;
  --cp-colors-green-400: #4ade80;
  --cp-colors-green-500: #22c55e;
  --cp-colors-green-600: #16a34a;
  --cp-colors-green-700: #15803d;
  --cp-colors-green-800: #166534;
  --cp-colors-green-900: #14532d;
  --cp-colors-green-950: #052e16;
  --cp-colors-lime-50: #f7fee7;
  --cp-colors-lime-100: #ecfccb;
  --cp-colors-lime-200: #d9f99d;
  --cp-colors-lime-300: #bef264;
  --cp-colors-lime-400: #a3e635;
  --cp-colors-lime-500: #84cc16;
  --cp-colors-lime-600: #65a30d;
  --cp-colors-lime-700: #4d7c0f;
  --cp-colors-lime-800: #3f6212;
  --cp-colors-lime-900: #365314;
  --cp-colors-lime-950: #1a2e05;
  --cp-colors-yellow-50: #fefce8;
  --cp-colors-yellow-100: #fef9c3;
  --cp-colors-yellow-200: #fef08a;
  --cp-colors-yellow-300: #fde047;
  --cp-colors-yellow-400: #facc15;
  --cp-colors-yellow-500: #eab308;
  --cp-colors-yellow-600: #ca8a04;
  --cp-colors-yellow-700: #a16207;
  --cp-colors-yellow-800: #854d0e;
  --cp-colors-yellow-900: #713f12;
  --cp-colors-yellow-950: #422006;
  --cp-colors-amber-50: #fffbeb;
  --cp-colors-amber-100: #fef3c7;
  --cp-colors-amber-200: #fde68a;
  --cp-colors-amber-300: #fcd34d;
  --cp-colors-amber-400: #fbbf24;
  --cp-colors-amber-500: #f59e0b;
  --cp-colors-amber-600: #d97706;
  --cp-colors-amber-700: #b45309;
  --cp-colors-amber-800: #92400e;
  --cp-colors-amber-900: #78350f;
  --cp-colors-amber-950: #451a03;
  --cp-colors-orange-50: #fff7ed;
  --cp-colors-orange-100: #ffedd5;
  --cp-colors-orange-200: #fed7aa;
  --cp-colors-orange-300: #fdba74;
  --cp-colors-orange-400: #fb923c;
  --cp-colors-orange-500: #f97316;
  --cp-colors-orange-600: #ea580c;
  --cp-colors-orange-700: #c2410c;
  --cp-colors-orange-800: #9a3412;
  --cp-colors-orange-900: #7c2d12;
  --cp-colors-orange-950: #431407;
  --cp-colors-red-50: #fef2f2;
  --cp-colors-red-100: #fee2e2;
  --cp-colors-red-200: #fecaca;
  --cp-colors-red-300: #fca5a5;
  --cp-colors-red-400: #f87171;
  --cp-colors-red-500: #ef4444;
  --cp-colors-red-600: #dc2626;
  --cp-colors-red-700: #b91c1c;
  --cp-colors-red-800: #991b1b;
  --cp-colors-red-900: #7f1d1d;
  --cp-colors-red-950: #450a0a;
  --cp-colors-neutral-50: #fafafa;
  --cp-colors-neutral-100: #f5f5f5;
  --cp-colors-neutral-200: #e5e5e5;
  --cp-colors-neutral-300: #d4d4d4;
  --cp-colors-neutral-400: #a3a3a3;
  --cp-colors-neutral-500: #737373;
  --cp-colors-neutral-600: #525252;
  --cp-colors-neutral-700: #404040;
  --cp-colors-neutral-800: #262626;
  --cp-colors-neutral-900: #171717;
  --cp-colors-neutral-950: #0a0a0a;
  --cp-colors-stone-50: #fafaf9;
  --cp-colors-stone-100: #f5f5f4;
  --cp-colors-stone-200: #e7e5e4;
  --cp-colors-stone-300: #d6d3d1;
  --cp-colors-stone-400: #a8a29e;
  --cp-colors-stone-500: #78716c;
  --cp-colors-stone-600: #57534e;
  --cp-colors-stone-700: #44403c;
  --cp-colors-stone-800: #292524;
  --cp-colors-stone-900: #1c1917;
  --cp-colors-stone-950: #0c0a09;
  --cp-colors-zinc-50: #fafafa;
  --cp-colors-zinc-100: #f4f4f5;
  --cp-colors-zinc-200: #e4e4e7;
  --cp-colors-zinc-300: #d4d4d8;
  --cp-colors-zinc-400: #a1a1aa;
  --cp-colors-zinc-500: #71717a;
  --cp-colors-zinc-600: #52525b;
  --cp-colors-zinc-700: #3f3f46;
  --cp-colors-zinc-800: #27272a;
  --cp-colors-zinc-900: #18181b;
  --cp-colors-zinc-950: #09090b;
  --cp-colors-slate-50: #f8fafc;
  --cp-colors-slate-100: #f1f5f9;
  --cp-colors-slate-200: #e2e8f0;
  --cp-colors-slate-300: #cbd5e1;
  --cp-colors-slate-400: #94a3b8;
  --cp-colors-slate-500: #64748b;
  --cp-colors-slate-600: #475569;
  --cp-colors-slate-700: #334155;
  --cp-colors-slate-800: #1e293b;
  --cp-colors-slate-900: #0f172a;
  --cp-colors-slate-950: #020617;
  --cp-colors-gray-50: #FAFAFA;
  --cp-colors-gray-100: #F4F4F5;
  --cp-colors-gray-200: #E4E4E7;
  --cp-colors-gray-300: #D4D4D8;
  --cp-colors-gray-400: #A1A1AA;
  --cp-colors-gray-500: #71717A;
  --cp-colors-gray-600: #52525B;
  --cp-colors-gray-700: #3F3F46;
  --cp-colors-gray-800: #27272A;
  --cp-colors-gray-900: #18181B;
  --cp-colors-gray-950: #0F0F12;
  --cp-borders-none: none;
  --cp-borders-danger: 1px solid #f87171;
  --cp-borders-warning: 1px solid #facc15;
  --cp-borders-success: 1px solid #4ade80;
  --cp-borders-info: 1px solid #60a5fa;
  --cp-borders-focus: 1px solid #A1A1AA;
  --cp-gradients-vertical-overflow: linear-gradient(to top, #0F0F12, transparent);
  --cp-breakpoints-sm: 640px;
  --cp-breakpoints-md: 768px;
  --cp-breakpoints-lg: 1024px;
  --cp-breakpoints-xl: 1280px;
  --cp-breakpoints-2xl: 1536px
}
  }
  